version: '3.8'

services:
  expense-tracker:
    build: .
    ports:
      - "5000:5000"
    environment:
      - FLASK_DEBUG=True
    volumes:
      - ./application:/app/application  #reload for development